CONTAINER_NAME="halo"
CPUS=0
HALO_EXTERNAL_URL="http://localhost:8090"
HOST_IP=""
MEMORY_LIMIT=0
MYSQL_CONTAINER_NAME="halo-mysql"
MYSQL_HOST_PORT=3306
MYSQL_ROOT_PASSWORD="change_me_root"
PANEL_APP_PORT_HTTP=8090
PANEL_DB_HOST="mysql"
PANEL_DB_NAME="halo_db"
PANEL_DB_PORT=3306
PANEL_DB_TYPE="mysql"
PANEL_DB_USER="halo_user"
PANEL_DB_USER_PASSWORD="change_me_db"
